
@{
    ViewBag.Title = "Nofication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">PAGE NOT FOUND</p>
        <p class="text-gray-500 mb-0">TÀI KHOẢN CỦA BẠN CHƯA ĐƯỢC THAM GIA QUẢN LÝ</p>
        <a href="@Url.Action("Index","Home")">&larr; TRANG CHỦ</a>
    </div>

</div>

